body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background: blue;
}
#contador {
    font-size: 40px;
    margin-top: 20px;
}
button {
    font-size: 20px;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}